/*div{
	color: purple;
	background: darkred;
}*/
h1 {
	background: black;
	color: white;
}
h2 {
	background: black;
	color: white;
}
/*p{
	background: rgb(200, 255, 255);
}
li {
	background: rgba(270, 56, 40, 1.0)!important;
}
#titleTwo {
	background: green;
}
*/

a{
text-decoration: none; /* Убирает подчеркивание для ссылок */
} 
a:hover { 
text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
color: red; /* Ссылка красного цвета */
} 


